:root {
  --image-1: url(https://www.magnifyportal.com/api/public/assets/background1.svg);
  --image-1-res: url(https://www.magnifyportal.com/api/public/assets/background1-res.svg);
  --image-2: url(https://www.magnifyportal.com/api/public/assets/background2.svg);
  --image-2-res: url(https://www.magnifyportal.com/api/public/assets/background2-res.svg);
  --image-3: url(https://www.magnifyportal.com/api/public/assets/background3.svg);
  --image-3-res: url(https://www.magnifyportal.com/api/public/assets/background3-res.svg);
  --image-4: url(https://www.magnifyportal.com/api/public/assets/background4.svg);
  --image-4-res: url(https://www.magnifyportal.com/api/public/assets/background4-res.svg);
  --image-5: url(https://www.magnifyportal.com/api/public/assets/background5.svg);
  --image-5-res: url(https://www.magnifyportal.com/api/public/assets/background5-res.svg);
  --image-6: url(https://www.magnifyportal.com/api/public/assets/background6.svg);

}

.react-tel-input .selected-flag::before {
  left: 5px !important;
}

.react-tel-input .selected-flag:focus::before,
.react-tel-input .selected-flag.open::before {
  box-shadow: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #878787;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
  color: #878787;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #2b5540 !important
}

::-webkit-scrollbar,
::-webkit-scrollbar:horizontal {
  width: 5px !important;
  height: 8px !important;
}

::-webkit-scrollbar-track {
  background: #b6eed6;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #497b62;
  border-radius: 50px !important;
}

button:focus-visible,
a:focus-visible,
.react-tel-input .form-control {
  outline: none !important;
  border: none !important;
}

.react-tel-input .selected-flag:focus::before {
  border: none !important;
}

.react-tel-input .form-control {
  position: relative;
  color: #497b62 !important;
  width: 100% !important;
}

.react-tel-input .form-control:focus {
  box-shadow: none !important;
}

.react-tel-input .selected-flag.open::before {
  border: none !important;
}

.react-tel-input .selected-flag {
  padding: 0px 0px 0px 5px !important;
}

/* english phone input style  */
.react-tel-input .form-control.en {
  padding: 0 50px !important;
}

/* arabic phone input style */
.react-tel-input .flag-dropdown.ar .selected-flag {
  padding: 0px 5px 0px 0px !important;
}

.react-tel-input .flag-dropdown.ar .selected-flag .arrow {
  left: -30px;
}

.react-tel-input .form-control.ar {
  text-align: end;
}

.react-tel-input .form-control.ar {
  padding: 0 50px !important;
}

.react-tel-input .country-list {
  bottom: 40px;
  color: black;
  max-width: 250px;
  max-height: 200px !important;
}


#content {
  height: max-content;
  min-height: calc(100dvh - 150px);
}

#table {
  height: calc(100dvh - 290px)
}

#user-projects-grid {
  min-height: calc(100dvh - 250px)
}

#content.container {
  max-width: 2000px;
}

#not-found,
#login,
#logout {
  background-image: var(--image-1);
}

#create-password,
#upload-files {
  background-image: var(--image-5);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

#verify-email,
#phone-login {
  background-image: var(--image-3);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

#reset-password,
#forgot-password,
#verify-otp {
  background-image: var(--image-2);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;

}

#check-email {
  background-image: var(--image-4);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

#user-projects {
  background-image: var(--image-6);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}


@media (max-width: 996px) {
  #upload-files {
    background-image: var(--image-5-res);
    background-size: 55%;
  }

  #check-email {
    background-image: var(--image-2-res);
    background-size: 55%;
  }

  #verify-email,
  #phone-login {
    background-image: var(--image-3-res);
    background-size: 55%;
  }

  #reset-password,
  #forgot-password,
  #verify-otp {
    background-image: var(--image-4-res);
    background-size: 55%;
  }

  #create-password {
    background-image: var(--image-1-res);
    background-size: 55%;
  }
}